use flake --impure

export TOP_HEAD=$(cd -- "$(dirname -- "${BASH_SOURCE[0]}")" &> /dev/null && pwd)

export_alias _b "cd $TOP_HEAD && pio run -e rpi; cd -"
export_alias _u "cd $TOP_HEAD && pio run -e rpi -t upload; cd -"
export_alias _m "cd $TOP_HEAD && pio device monitor; cd -"
export_alias _t "cd $TOP_HEAD && sh test/run.sh; cd -"
