layout mambaid 3.10 pio

export ENV=pio

export_alias _b "./run.sh build"
export_alias _r "./run.sh refresh"
export_alias _u "./run.sh upload --monitor"
export_alias _m "./run.sh monitor"

export_alias _s "./run.sh send"
export_alias _g "./run.sh get"

# export_alias run.sh "./run.sh"
